<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="danger" class="d-flex justify-content-center">
    <div style="font-size: 80px;">BITCSE</div>
  </ion-text>
  <br>

  <ion-item>
    <ion-label stacked>USN</ion-label>
    <ion-input [(ngModel)]="username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Date Of Birth</ion-label>
    <ion-datetime value="1990-02-19" placeholder="Select Date" [(ngModel)]="password"></ion-datetime>
  </ion-item>
  <br>

  <div text-center margin-top>
    <ion-button expand="block"  color="secondary" (click)="signIn()">
      SIGN IN
    </ion-button>
    <br>
    <ion-button expand="block"  margin-right (click)="signUp()">
      SIGN UP
    </ion-button>


  </div>
</ion-content>
